volumes:
  pg_data:
  static_volume:
  media_volume:

services:
  db:
    image: postgres:16
    env_file: ./backend/.env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    image: evgeniytsygankov/trion-crm-backend
    env_file: ./backend/.env
    volumes:
      - static_volume:/app/collected_static
      - media_volume:/app/media
    depends_on:
      - db
    restart: unless-stopped
  gateway:
    image: evgeniytsygankov/trion-crm-gateway
    env_file: ./backend/.env
    depends_on:
      - backend
    volumes:
      - static_volume:/static
      - media_volume:/media
    ports:
      - 80:80
    restart: unless-stopped
  bot:
    image: evgeniytsygankov/trion-crm-backend
    env_file: ./backend/.env
    depends_on:
      - backend
    command: ["python", "-m", "telegram_bot.main"]
    restart: unless-stopped