repos:
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3.11
        files: ^backend/
        args: ["--config=backend/pyproject.toml"]