{% extends "base.html" %}
{% block title %}Детали клиента: {{ client.client_name }}{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">
      <h5>Информация о клиенте</h5>
    </div>
    <div class="card-body">
      <p><strong>Имя: </strong>{{ client.client_name }}</p>
      <p><strong>Мобильный телефон: </strong>{{ client.mobile_phone }}</p>
      <p><strong>Тип: </strong>{{ client.get_entity_type_display }}</p>
      {% if client.company %}
        <p class="mb-1"><strong>Компания: </strong>{{ client.company }}</p>
      {% endif %}
      <p><strong>Адрес: </strong>{{ client.address }}</p>
      <p><strong>Заказов: </strong>{{ client.orders.count }}</p>
      <p><strong>Долг клиента: </strong>{{ client.total_duty }} ₽</p>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header">
        <h6>Заказы клиента</h6>
    </div>
    <div class="card-body">
      {% for order in client.orders.all %}
          <div class="border-bottom pb-2 mb-2">
            <p><strong>Заказ: {{ order.code }}</strong></p>
            <p>Оборудование: {{ order.accepted_equipment }}</p>
            <p>Статус: {{ order.get_status_display }}</p>
          </div>
      {% empty %}
          <p>У клиента пока нет заказов</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}