{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if form.instance.pk %}
    Редактирование {{ name }}
  {% else %}
    Добавление {{ name }}
  {% endif %}
{% endblock %}
{% block extra_css %}
  {{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
        rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if form.instance.pk %}
          Редактирование {{ name }}
        {% else %}
          Добавление {{ name }}
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% if services_formset %}
            <hr>
            <h5>Услуги в заказе</h5>
            {{ services_formset.management_form }}
            {% for f in services_formset %}
              <div class="border rounded p-2 mb-2">
                {% bootstrap_form f %}
              </div>
            {% endfor %}
          {% endif %}
          {% bootstrap_button button_type="submit" content="Сохранить" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.js-client-select').select2({
        width: '100%',
        placeholder: 'Выберите клиента',
        allowClear: true,
        language: 'ru'
      });
    });
  </script>
{% endblock %}