{% extends "base.html" %}
{% block title %}Детали покупки: {{ purchase.order.code }}{% endblock %}
{% block content %}
  <div class="card">
    <div class="card-header">
      <h5>Информация о покупке</h5>
    </div>
    <div class="card-body">
      <p><strong>К заказу: </strong>{{ purchase.order.code }}</p>
      <p><strong>Дата: </strong>{{ purchase.create|date:"d.m.Y" }}</p>
      <p><strong>Магазин: </strong>{{ purchase.store }}</p>
      <p><strong>Детали заказа: </strong>{{ purchase.detail }}</p>
      <p><strong>Статус: </strong>{{ purchase.get_status_display }}</p>
    </div>
  </div>
{% endblock %}